////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

$brown: #bf5507;
$light-brown: #e87518;

$brown-menu: #853800;
$light-brown-menu: #ab4800;

$banner-yellow: #eadac3;
